#about{
    background-image: url('../images/about_fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .about_wrapper{
        .about_top{
            padding-top: 136px;
            padding-bottom: 130px;
            display: flex;
            gap: 100px;
            .about_top_left{
                h3{
                    padding-bottom: 16px;
                    max-width: 325px;
                    font-size: 48px;
                    font-weight: bold;
                    font-family: $Bahnschrift;
                    color: #fff;
                    margin-bottom: 53px;
                    border-bottom: 4px solid #FC4D00FF;
                }
                p{
                    max-width: 790px;
                    font-size: 17px;
                    font-weight: light;
                    font-family: $Bahnschrift;
                    color: #fff;
                    margin-bottom: 30px;
                }
            }
            .about_top_right{
                img{
                    width: 100%;
                }
            }
        }
        .about_bottom{
            padding-bottom: 145px;
            text-align: center;
            h3{
                font-size: 49px;
                font-weight: bold;
                font-family: $Bahnschrift;
                color: #fff;
                max-width: 1200px;
                margin: 84px auto 120px auto;
            }
            .about_blocks{
                display: flex;
                justify-content: space-between;
                align-items: start;
                .about_block{
                    span{
                        font-size: 61px;
                        font-weight: bold;
                        font-family: $Bahnschrift;
                        color: #FC4D00FF;
                    }
                    h4{
                        max-width: 280px;
                        font-size: 16px;
                        font-weight: bold;
                        font-family: $Bahnschrift;
                        color: #fff;
                    }
                }
            }
        }
        .about_down{
            padding-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: -50px;
            a{
                img{
                    transform: rotate(270deg);
                    height: 55px;
                }
            }
            .down_two{
                transform: translateY(-30px);
            }
        }
    }
}