#main_block{
        .main_card_in{
            display: flex;
            align-items: center;
            gap: 13px;
            .main_card{
                position: relative;
                bottom: 0;
                height: 517px;
                border-radius: 5px;
                overflow: hidden;
                max-width: 271px;
                box-shadow: 1px 4px 12px 2px rgba(0,0,0,0.75);
                -webkit-box-shadow: 1px 4px 12px 2px rgba(0,0,0,0.75);
                -moz-box-shadow: 1px 4px 12px 2px rgba(0,0,0,0.75);
                .card_top{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    left: 0;
                    z-index: 2;
                    padding: 15px 12px;
                    background-color: #FC4D00FF;
                    span{
                        font-family: $Calibri;
                        font-weight: light;        
                        font-size: 18px;
                        color: #fff;
                    }
                }
                img{
                    // transform: scale(1);
                    transition: .3s linear;
                    width: 100%;
                    height: 100%;
                }
                .card_btn{
                    opacity: 0;
                    transition: .3s linear;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -0%);
                    cursor: pointer;
                    white-space: nowrap;
                    font-family: $Bahnschrift;
                    font-size: 14px;
                    font-weight: bold;
                    color: #fff;
                    padding: 15px 40px;
                    border: none;
                    background-color: #FB4D00;
                }
            }
            .main_card:hover img{
                transform: scale(1.1);
            }
            .main_card:hover .card_btn{
                opacity: 1;
            }
        }
    
}