#features{
    h2{
        text-align: center;
        margin-top: 21px;
        margin-bottom: 29px;
        font-size: 37px;
        font-weight: light;
        font-family: $Bahnschrift;
        color: #000;
    }
    p{
        max-width: 1200px;
        margin: 0 auto 82px auto;
        text-align: center;
        font-size: 16px;
        font-weight: light;
        font-family: $Bahnschrift;
        color: #6a6a6a;
    }
}