#footer{
    background-color: #1B1B1B;
    .footer_wrapper{
        padding-top: 73px;
        padding-bottom: 142px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        .footer_menu{
            display: flex;
            gap: 27px;
            flex-direction: column;
            li{
                a{
                    font-weight: 500;
                    font-family: $Bahnschrift;
                    font-size: 21.34px;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
        .footer_links{
            display: flex;
            flex-direction: column;
            gap: 18px;
            li{
                max-width: 260px;
                h2{
                    font-family: $Bahnschrift;
                    color: white;
                    font-size: 21.34px;
                    font-weight: 500;
                    margin-bottom: 13px;
                }
                a{
                    font-family: $Bahnschrift;
                    color: #9f9f9f;
                    font-size: 17.34px;
                }
            }
        }
    }
    .footer_bottom{
        padding-bottom: 22px;
        border-bottom: 1px solid #2D2D2D;
        display: flex;
        align-items: center;
        justify-content: end;
        .payments{
            display: flex;
            align-items: center;
            a:nth-child(2){
                margin-left: 15px;
            }
        }
    }
    .footer_text{
        padding: 37px 0;
        p{
            font-family: $Bahnschrift;
            color: #646363;
            font-size: 16px;
        }
    }
}