#list {
    background-color: #fff;
    height: 100%;
    #header {
        display: none;
        border-bottom: 4px solid #D1D1D1FF;
        position: fixed;
        width: 100%;
        z-index: 100;
        padding: 30px 0 20px 0;
        background-color: #F4F4F4FF;
        backdrop-filter: blur(10px);

        .header_wrapper {
            display: flex;
            align-items: center;

            .logo {
                flex: 1;

                a {
                    img {
                        width: 210px;
                    }
                }
            }

            .header_menu {
                flex: 3;

                .menu_top {
                    display: flex;

                    .input_block {
                        margin-right: 57px;
                        flex-basis: 470px;
                        padding-bottom: 3px;
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid #323232FF;

                        label {
                            cursor: pointer;
                        }

                        input {
                            width: 100%;
                            background-color: transparent;
                            font-family: $Bahnschrift;
                            font-weight: light;
                            font-size: 18px;
                            color: #787878FF;
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    a {
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                        font-family: $Calibri;
                        font-weight: light;
                        font-size: 16px;
                        color: #323232;

                        img {
                            margin-right: 10px;
                        }
                        svg{
                            color: #fff;
                            background-color: #fff;
                        }
                    }
                }

                .menu_bottom {
                    margin-top: 33px;

                    ul {
                        display: flex;
                        align-items: center;
                        gap: 44px;

                        li {
                            a {
                                display: flex;
                                align-items: center;

                                img {
                                    margin-left: 8px;
                                }

                                font-family: $Bahnschrift;
                                font-weight: 300;
                                font-size: 13px;
                                color: #323232;
                            }
                        }
                    }
                }
            }

            .header_end {
                .sign {
                    display: flex;
                    align-items: center;

                    a {
                        font-family: $Calibri;
                        font-weight: light;
                        font-size: 14px;
                        color: #323232;
                    }

                    span {
                        font-family: $Calibri;
                        font-weight: light;
                        font-size: 14px;
                        color: #323232;
                    }
                }

                .statistic {
                    margin-top: 33px;
                    display: flex;
                    gap: 15px;

                    a {
                        display: flex;
                        align-items: center;
                        font-family: $Calibri;
                        font-weight: light;
                        font-size: 16px;
                        color: #323232;

                        img {
                            width: 24px;
                            height: 20px;
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }

    .list_link {
        padding-top: 178px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;

        a,
        span {
            margin: 0 2px;
            font-size: 13.333px;
            font-family: $Bahnschrift;
            color: rgb(144, 144, 144);
            text-align: left;
        }
    }

    .list_wrapper{
        display: flex;
        justify-content: space-between;
        .list_main{
            h3{
                font-size: 20px;
                font-family: $Bahnschrift;
                color: rgb(38, 38, 38);
                font-weight: bold;
                text-transform: uppercase;
                text-align: left;
                margin-bottom: 16px;
            }
            h4{
                font-size: 14.667px;
                font-family: $Bahnschrift;
                color: rgb(123, 123, 123);
                text-align: left; 
                margin-bottom: 42px; 
            }
            .share{
                display: flex;
                align-items: center;
                gap: 28px;
                margin-bottom: 52px;
                a{
                    display: flex;
                    align-items: center;
                    font-size: 13.333px;
                    font-family: $Bahnschrift;
                    color: rgb(0, 0, 0);
                    text-align: left;
                    svg{
                        margin-right: 8px;
                    }
                }
            }
            h6{
                display: flex;
                align-items: center;
                font-size: 16px;
                font-family: $Bahnschrift;
                color: rgb(0, 0, 0);
                text-align: left;
                svg{
                    transform: translateY(-2px);
                    margin-right: 12px;
                }
            }
            .list_btns{
                .btn_shop{
                    border: none;
                    // height: 51px;
                    // width: 203px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14.667px;
                    font-family: $Arial;
                    color: rgb(255, 255, 255);
                    text-align: center;
                    background-color: #EA5E20FF !important;
                    svg{
                        margin-right: 11px;
                    }
                }
            }
        }
        .list_cards{
            display: flex;
            flex-direction: column;
            gap: 15px;
            .list_card{
                border-radius: 20px;
                padding: 15px;
                border-radius: 1px solid #F1F1F1FF;
            }
        }
    }
}
