body {
    background-color: #E7E7E7FF;
}

#list {
    #header {
        display: none;
        border-bottom: 4px solid #D1D1D1FF;
        position: fixed;
        width: 100%;
        z-index: 100;
        padding: 30px 0 20px 0;
        background-color: #fff;
        backdrop-filter: blur(10px);

        .header_wrapper {
            display: flex;
            align-items: center;

            .logo {
                flex: 1;

                a {
                    img {
                        width: 210px;
                    }
                }
            }

            .header_menu {
                flex: 3;

                .menu_top {
                    display: flex;

                    .input_block {
                        margin-right: 57px;
                        flex-basis: 470px;
                        padding-bottom: 3px;
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid #323232FF;

                        label {
                            cursor: pointer;
                        }

                        input {
                            width: 100%;
                            background-color: transparent;
                            font-family: $Bahnschrift;
                            font-weight: light;
                            font-size: 18px;
                            color: #787878FF;
                            border: none;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    a {
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                        font-family: $Calibri;
                        font-weight: light;
                        font-size: 16px;
                        color: #323232;

                        img {
                            margin-right: 10px;
                        }
                    }
                }

                .menu_bottom {
                    margin-top: 33px;

                    ul {
                        display: flex;
                        align-items: center;
                        gap: 44px;

                        li {
                            a {
                                display: flex;
                                align-items: center;

                                img {
                                    margin-left: 8px;
                                }

                                font-family: $Bahnschrift;
                                font-weight: 300;
                                font-size: 13px;
                                color: #323232;
                            }
                        }
                    }
                }
            }

            .header_end {
                .sign {
                    display: flex;
                    align-items: center;

                    a {
                        font-family: $Calibri;
                        font-weight: light;
                        font-size: 14px;
                        color: #323232;
                    }

                    span {
                        font-family: $Calibri;
                        font-weight: light;
                        font-size: 14px;
                        color: #323232;
                    }
                }

                .statistic {
                    margin-top: 33px;
                    display: flex;
                    gap: 15px;

                    a {
                        display: flex;
                        align-items: center;
                        font-family: $Calibri;
                        font-weight: light;
                        font-size: 16px;
                        color: #323232;

                        img {
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }

    .product_link {
        padding-top: 178px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;

        a,
        span {
            font-size: 13.333px;
            font-family: $Bahnschrift;
            color: rgb(144, 144, 144);
            text-align: left;
        }
    }

    .product_wrapper {
        display: flex;
        align-items: start;
        gap: 30px;
        margin-bottom: 188px;
        .product_left {
            background-color: #fff;
            padding: 0 20px;

            .accardion {
                padding: 20px 0;
                border-bottom: 1px solid #E8E8E8FF;

                .accardion_head {
                    width: 100%;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .text {
                        display: flex;
                        align-items: center;
                        max-width: 202px;
                        font-size: 16px;
                        font-family: $Calibri;
                        color: rgb(55, 58, 59);
                        font-weight: bold;
                        text-align: left;
                        input{
                            cursor: pointer;
                            background-color: #F4F4F8FF;
                            margin-right: 10px;
                            width: 20px;
                            height: 20px;
                            accent-color: red;
                        }
                    }

                    .icon {
                        transform: translateY(3px);
                        padding: 0;
                        border: 5px solid #000;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        // width: 5px;
                        // height: 4px;
                        // background-color: #000;
                    }
                }

                .accardion_body {
                    display: none;
                }
            }
            .accardion:nth-child(6){
                border-bottom: none;
            }
            .wrapper {
            padding-bottom: 15px;
            }
            .wrapper p{
                text-align: center;
                padding-top: 40px;
                font-size: 16px;
                font-family: $Calibri;
                color: #F25400FF;
                font-weight: bold;
            }
            .range-slider {
                width: 100%;
                text-align: center;
                position: relative;
                .rangeValues {
                    font-size: 20px;
                    font-family: $Calibri;
                    color: rgb(55, 58, 59);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    border: 1px solid #E4E4E4FF;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    span{
                        height: 100%;
                        padding: 8px 55px;
                    }
                    .line{
                        border-left: 1px solid #E4E4E4FF;
                    }
                }
              }
              
              input[type=range] {
                -webkit-appearance: none;
                border: 1px solid white;
                width: 100%;
                position: absolute;
                left: 0;
              }
              
              input[type=range]::-webkit-slider-runnable-track {
                width: 100%;
                height:11px;
                background: #F25400FF;
                border-top: 1px solid #C5C5C5FF;
                border-bottom: 1px solid #C5C5C5FF;
                border-radius: 3px;
              
              }
              
              input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: none;
                height: 18px;
                width: 18px;
                border-radius: 3px;
                background: #F6F6F6FF;
                margin-top: -4px;
                border: 1px solid #C5C5C5FF;
                  cursor: pointer;
                    position: relative;
                  z-index: 1;
              }
              
              input[type=range]:focus {
                outline: none;
              }
              
              input[type=range]:focus::-webkit-slider-runnable-track {
                background: #F25400FF;
              }
              
              input[type=range]::-moz-range-track {
                width: 100%;
                height: 5px;
                background: #ddd;
                border: none;
                border-radius: 3px;
              }
              
              input[type=range]::-moz-range-thumb {
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: #21c1ff;
                
              }
              
              input[type=range]:-moz-focusring {
                outline: 1px solid white;
                outline-offset: -1px;
              }
              
              input[type=range]::-ms-track {
                width: 100%;
                height: 5px;
                background: transparent;
                border-color: transparent;
                border-width: 6px 0;
                color: transparent;
                  z-index: -4;
              
              }
              
              input[type=range]::-ms-fill-lower {
                background: #777;
                border-radius: 10px;
              }
              
              input[type=range]::-ms-fill-upper {
                background: #ddd;
                border-radius: 10px;
              }
              
              input[type=range]::-ms-thumb {
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: #21c1ff;
              }
              
              input[type=range]:focus::-ms-fill-lower {
                background: #888;
              }
              
              input[type=range]:focus::-ms-fill-upper {
                background: #ccc;
              }
              
        }

        .product_right {
            width: 100%;
            h2 {
                font-size: 32px;
                font-family: $Bahnschrift;
                color: rgb(38, 38, 38);
                font-weight: bold;
            }

            .product_cards {
                .cards_top{
                    padding: 15px 0 8px 0;
                    background-color: #fff;
                    display: flex;
                    margin-bottom: 1px;
                    h4{
                        font-size: 20px;
                        font-family: $Calibri;
                        color: rgb(55, 58, 59);
                    }
                    h4:nth-child(1){
                        margin-left: 250px;
                    }
                    h4:nth-child(2){
                        margin-left: 200px;
                    }
                }
                .product_card {
                    margin-bottom: 1px;
                    padding: 40px 50px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: .3s linear;
                    &:hover{
                        box-shadow: 1.5px 2.598px 15.48px 2.52px rgba(0, 0, 0, 0.15);
                        position: relative;
                        z-index: 2;
                    }
                    h3{
                        margin-bottom: 22px;
                        font-size: 25px;
                        font-family: $Calibri;
                        color: rgb(55, 58, 59);
                    }
                    p{
                        font-size: 16px;
                        font-family: $Calibri;
                        color: #91989CFF;
                        span{
                            color: #40B42DFF;
                        }
                    }
                    .product_card_btn{
                        display: flex;
                        text-align: center;
                        flex-direction: column;
                        button{
                            width: 203px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            font-family: $Bahnschrift;
                            font-size: 14px;
                            font-weight: bold;
                            color: #fff;
                            border: none;
                            background-color: #FB4D00;
                            svg{
                                margin-right: 12px;
                            }
                        }
                        a{
                            font-size: 16px;
                            font-family: $Calibri;
                            margin-top: 17px;
                            color: #00A2FAFF;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px){
    #list{
        .product_wrapper {
            .product_right {
                .product_cards {
                    flex-direction: column;
                    .cards_top{
                        display: none;
                        h4:nth-child(1){
                            margin-left: 100px;
                        }
                        h4:nth-child(2){
                            margin-left: 100px;
                        }
                    }
                    .product_card{
                        text-align: center;
                        margin: 0 auto 1px auto;
                        width: 80%;
                        flex-direction: column;
                        div{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 993px){
    #list{
        .product_wrapper {
            gap: 15px;
            .product_left{
                width: 250px;
                .range-slider{
                    .rangeValues{
                        span{
                            padding: 8px 30px;
                        }
                    }
                }
            }
            .product_right {
                h2{
                    font-size: 25px;
                }
                .product_cards {
                    .product_card{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media(max-width: 576px){
    #list{
        .product_wrapper {
            flex-direction: column;
            .product_left{
                width: 100%;
                .range-slider{
                    .rangeValues{
                        span{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}