#partners{
    overflow: hidden;
    background-image: url('../images/logos_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // .elleps{
    //     position: absolute;
    //     width: 100%;
    //     top: 0;
    // }
    h2{
        padding-top: 357px;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        font-family: $Bahnschrift;
        color: #fff;
        margin-bottom: 30px;
    }
    p{
        text-align: center;
        font-family: $Bahnschrift;
        font-weight: light;        
        font-size: 18px;
        color: #fff;
        margin-bottom: 78px;
    }
    .partners_wrapper{
        padding-bottom: 220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .right_btn{
            transform: rotate(180deg);
        }
        .logos{
            width: 95%;
        }
        .right_btn,
        .left_btn{
            margin: 10px;
            cursor: pointer;
        }
    }
}