@media (max-width: 1400px) {
    #header {
        .header_wrapper {
            .header_menu {
                display: none;
            }

            .header_end {
                display: flex;
                align-items: center;
                gap: 30px;

                .statistic {
                    margin-top: 0;
                    display: none;
                }

                .sign {
                    display: none;
                }

                .bars {
                    background: transparent;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    display: block;

                    svg {
                        width: auto;
                        height: 30px;

                        path {
                            fill: #fc4d00;
                        }
                    }
                }
            }
        }
    }

    .mobile_menues {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #333;
        z-index: 1000;
        display: none;
        align-items: center;
        justify-content: center;

        .mobile_menu_close {
            position: absolute;
            top: 24px;
            right: 24px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background: transparent;
            border: none;
            outline: none;

            span {
                transform: scale(4);
                color: white;
                font-family: cursive, sans-serif;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;

            .input_block {
                flex-basis: 470px;
                padding-bottom: 3px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #fff;
                position: relative;

                label {
                    cursor: pointer;
                    
                    svg {
                        path {
                            fill: white;
                        }
                    }
                }

                input {
                    width: 100%;
                    background-color: transparent;
                    font-family: $Bahnschrift;
                    font-weight: light;
                    font-size: 18px;
                    color: #fff;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                .search_result {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: white;
                    width: 100%;
                    padding: 20px;
                    display: none;
                    flex-direction: column;
                    gap: 10px;

                    a {
                        color: black;
                    }
                }

                input:focus ~ .search_result {
                    display: flex;
                }
            }

            a {
                display: flex;
                align-items: center;
                font-family: $Calibri;
                font-weight: light;
                font-size: 16px;
                color: #fff;
            }

            .sign {
                display: flex;
                gap: 0;

                a {
                    margin: 0;
                }
            }

            .statistic {
                display: flex;
                gap: 10px;
            }
        }
    }

    @keyframes menuActive {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .mobile_menues.active {
        display: flex;
        animation: menuActive .2s linear 1;
    }

    @keyframes menuNoActive {
        0% {
            display: flex;
            opacity: 1;
        }
        100% {
            display: flex;
            opacity: 0;
        }
    }

    .mobile_menues.noActive {
        display: none;
        animation: menuNoActive .1s linear 1;
    }

    .footer {
        footer {
            .footer_links {
                padding-right: 50px;
                padding-left: 50px;
            }

            .footer_text {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }
}

@media (max-width: 1350px) {
    .cards {
        .main_container {
            width: 100vw;
        }

        .cards_bg {
            display: none;
        }

        .left_btn {
            bottom: 30px;
            top: auto;
            right: 10px;

            a {
                img {
                    height: 80px;
                }
            }
        }
    }

    .about {
        .about_wrapper {
            .about_top {
                .about_top_left {
                    width: 100%;
                    position: relative;
                    z-index: 2;
                }

                .about_top_right {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0.5;
                }
            }
        }

        .about_wrapper_2 {
            .about_bottom {
                .about_logo {
                    img {
                        height: 70px;
                    }
                }

                h3 {
                    font-size: 35px;
                    margin: 20px auto 60px;
                }

                .about_blocks {
                    .about_block {
                        span {
                            font-size: 45px;
                        }
                    }
                }
            }

            .about_down {
                left: calc(50% - 40px / 2);

                a {
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }

    .dealers {
        .dealers_wrapper {
            padding-right: 30px;
        }
    }
}

@media (max-width: 992px) {
    .dealers {
        .main_container {
            padding-top: 0;
        }

        .dealers_title {
            margin-bottom: 20px;
        }
    }

    .footer {
        footer {
            .footer_links {
                flex-direction: column;
                gap: 30px;
                padding: 50px 0;
                
                .footer_link_wrapper {
                    gap: 30px;
                    flex-direction: column-reverse;
                }

                .footer_link {
                    gap: 0;

                    .link_title {
                        margin-bottom: 0;
                    }
                }

                .last_link {
                    align-items: flex-start;
                }
            }

            .footer_text {
                padding: 10px 0;
            }
        }
    }
}

@media (max-height: 850px) {
    .about{
        .about_wrapper{
            .about_bottom {
                .about_logo{
                    img{
                        height: 70px;
                    }
                }
                h3{
                    margin: 30px auto 40px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .features {
        h2 {
            margin-bottom: 10px;
            font-size: 25px;
        }

        .features_text {
            margin: 0 auto 20px auto;
            font-size: 14px;
        }

        .features_wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .features_block {
            // gap: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            .features_card {
                display: flex;
                align-items: start;
                margin: 0;
                width: 50%;
    
                .card_img {
                    margin-right: 0;
    
                    img {
                        width: 40px;
                    }
                }
    
                h3 {
                    margin-bottom: 8px;
                    font-size: 16px;
                }
    
                p {
                    font-size: 14px;
                }
            }
        }
    }

    .products {
        .products_in {
            h2, p {
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media (min-width: 576px) {
    .dealers {
        .main_container {
            .dealers_wrapper {
                .dealer_slider_2 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #header {
        padding: 15px 0;

        .header_wrapper {
            .logo {
                a {
                    img {
                        height: 20px;
                        width: auto;
                    }
                }
            }

            .header_end {
                .bars {
                    svg {
                        height: 24px;
                    }
                }

                .statistic, .sign {
                    display: none;
                }
            }
        }
    }

    #fp-nav.fp-right {
        right: 0px !important;
    }

    .home {
        h2 {
            font-size: 34px;
            max-width: 100%;
            width: 100%;
            letter-spacing: 2px;
        }
        @keyframes h2Active {
            0% {
                opacity: 0;
                transform: translateX(-10%);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
    
        h2.active {
            max-width: 200px;
            opacity: 1;
            transform: translateX(0);
            animation: h2Active .7s linear 1;
        }
    
        @keyframes h2NoActive {
            0% {
                opacity: 1;
                transform: translateX(0);
            }
            100% {
                opacity: 0;
                transform: translateX(-10%);
            }
        }
    
        h2.noActive {
            opacity: 0;
            transform: translateX(-10%);
            animation: h2NoActive .7s linear 1;
        }
    }

    .cards {
        .left_btn {
            a {
                img {
                    height: 50px;
                }
            }
        }

        .main_container {
            height: 98vh;
            overflow: hidden;
            padding-top: 96px;
            padding-right: 25px;

            .card_slider {
                display: none;
            }
        }
        .main_card_in {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            .main_card {
                position: relative;
                width: calc(50% - (15px / 2));
                height: calc(95vh / 3 - (30px / 2) - 32px);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .card_top {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding: 5px 8px;
                    background-color: #FC4D00FF;
    
                    span {
                        font-family: $Calibri;
                        font-weight: light;
                        font-size: 12px;
                        color: #fff;
                        line-height: 0px;
                    }
                }

                .card_btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, calc(-50% + 23px));
                    cursor: pointer;
                    white-space: nowrap;
                    font-family: $Bahnschrift;
                    font-size: 12px;
                    font-weight: bold;
                    color: #fff;
                    padding: 5px 15px;
                    border: none;
                    background-color: #FB4D00;
                    opacity: 0;
                    transition: .3s linear;
                    font-weight: 100;
                }

                &:hover {
                    .card_btn {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .about {
        .main_container{
            height: 90vh;
        }
        .about_wrapper {
            padding-top: 64px;
            position: relative;

            .about_top {
                position: static;
                padding: 0;
                // height: 100vh;
                // align-items: center;
                align-items: end;
                flex-direction: column;
                .about_top_left {
                    // top: 20%;
                    position: static;

                    h3 {
                        font-size: 50px;
                        padding-bottom: 0;
                    }

                    p {
                        font-size: 16px;
                        padding-right: 15px;
                    }
                }

                .about_top_right {
                    position: absolute;
                    width: 120px;
                    top: 90%; 
                    // top: 50%;
                    right: 0;
                    // bottom: 0;  
                    opacity: 1; 
                }
            }
        }

        .about_wrapper_2 {
            padding-top: 64px;

            .about_bottom {
                .about_logo {
                    img {
                        height: 45px;
                    }
                }

                h3 {
                    font-size: 18px;
                    margin: 20px auto 30px;
                }

                .about_blocks {
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    .about_block {
                        width: 100%;

                        span {
                            font-size: 33px;
                        }

                        h4 {
                            font-size: 14px;
                        }
                    }
                }
            }

            .about_down {
                left: calc(50% - 25px / 2);

                a {
                    img {
                        width: 25px;
                    }
                }
            }
        }
        button{
            bottom: 10%;
        }
    }

    .partners {
        .main_container {
            height: 90vh;
            padding-top: 64px;

            h2 {
                font-size: 30px;
            }

            p {
                font-size: 14px;
            }
        }
        button{
            bottom: 10%;
        }
    }

    .features {
        .main_container {
            padding-top: 64px;

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
            }
            .features_text{
                display: none;
            }
            .features_text_media{
                display: block;
            }

            .features_wrapper {
                padding-right: 10px;

                .features_block {
                    .features_card {
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .products {
        .products_in {
            .main_container {
                padding-top: 64px;
                padding-right: 20px;

                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .modal_wrapper {
        .modal {
            width: 80%;
            padding: 30px;

            h2 {
                font-size: 30px;
                width: 100%;
                transform: none;
            }

            .modal_text {
                font-size: 12px;
                margin: 20px 0;
            }

            form {
                input {
                    height: 40px;
                }

                .form_btn {
                    height: 40px;
                    width: 100%;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }

    .dealers {
        .main_container {
            padding-top: 64px;

            .dealers_title {
                font-size: 30px;
            }

            .dealers_wrapper {
                .dealer_slider {
                    padding-bottom: 50px !important;

                    .swiper-slide {
                        .dealers_card {
                            .card_img {
                                height: auto;
                                border-radius: 0;

                                img {
                                    height: 150px;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }

                            h4 {
                                font-size: 18px;
                            }

                            p {
                                font-size: 12px;
                            }

                            button {
                                height: 40px;
                                padding: 0;
                                width: 100%;
                                font-size: 14px;
                                margin: 20px 0;
                            }
                        }
                    }

                    .swiper-pagination-bullet-active {
                        background-color: #fc4d00;
                        width: 10px;
                        height: 10px;
                        transform: translateY(1px);
                    }
                }

                .dealer_slider_1 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px){
    .home h2{
        font-size: 28px;
    }
    .cards {
        .card_slider{
            .main_card {
                img{
                    height: 80%;
                }
            }
        }
    }
    .about {
        .main_container{
            height: 90vh;
        }
        .about_wrapper {
            padding-top: 64px;
            position: relative;

            .about_top {
                position: static;
                padding: 0;
                // height: 100vh;
                // align-items: center;
                align-items: end;
                flex-direction: column;
                .about_top_left {
                    // top: 20%;
                    position: static;

                    h3 {
                        margin-bottom: 35px;
                        max-width: 120px;
                        font-size: 30px;
                        padding-bottom: 0;
                    }

                    p {
                        margin-bottom: 15px;
                        font-size: 13px;
                        padding-right: 10px;
                    }
                }
            }
        }

        .about_wrapper_2 {
            padding-top: 64px;

            .about_bottom {
                .about_logo {
                    img {
                        height: 32px;
                    }
                }

                h3 {
                    font-size: 14px;
                    margin: 18px auto 28px;
                }

                .about_blocks {
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    .about_block {
                        width: 100%;

                        span {
                            font-size: 30px;
                        }

                        h4 {
                            font-size: 11px;
                        }
                    }
                }
            }

            .about_down {
                left: calc(50% - 25px / 2);

                a {
                    img {
                        width: 22px;
                    }
                }
            }
        }
        button{
            bottom: 7%;
            img{
                width: 20px;
            }
        }
    }

    .partners {
        .main_container {
            height: 80vh;
            padding-top: 50px;

            h2 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 50px;
                font-size: 14px;
            }
            .partners_wrapper{
                display: none;
            }
            .partners_media{
                display: flex;
                justify-content: space-around;
                gap: 35px 17px;
                align-items: center;
                flex-wrap: wrap;
                .partnets_logo  {
                    img{
                        width: 95px;
                        object-fit: contain;
                        height: 55px;
                    }
                }
            }
        }
        button{
            bottom: 10%;
            img{
                width: 22px;
            }
        }
    }
    .features{
        .main_container{
            .features_wrapper{
                .features_block{
                    .features_card {
                        .card_img{
                            img{
                                width: 40px;
                            }
                        }
                        h3{
                            font-size: 14px;
                            margin-bottom: 3px;
                        }
                        p{
                            font-size: 11px;
                            height: 57px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
    .products{
        background-position: center;
        .products_in{
            .main_container{
                h2{
                    font-size: 22px;
                    max-width: 400px;
                }
                p{
                    max-width: 300px;
                    margin-bottom: 50px;
                    font-size: 12px;
                    opacity: .9;
                }
                button{
                    font-size: 12px;
                    padding: 10px 15px;
                }
            }
        }
    }
    .dealers {
        .main_container{
            .dealers_title {
                margin-bottom: 40px;
                font-size: 22px;
            }
            .dealers_wrapper{
                gap: 10px;
                padding-right: 15px;
                .dealer_slider{
                    .swiper-slide{
                        .dealers_card{
                            text-align: center;
                            padding: 9px 10px;
                            h4{     
                                b{
                                    font-weight: 800;
                                }
                                font-weight: 800;
                                font-size: 14px;
                                margin-bottom: 15px;
                            }
                            p{
                                margin-bottom: 15px;
                            }
                            .phone{
                                margin-bottom: 0;
                            }
                            button{
                                height: 35px;
                                width: 80%;
                                font-size: 13px;
                            }
                        }
    
                    }
                }
                .dealers_right,
                .dealers_left{
                    width: 10px;
                }
            }
        }
    }

    .footer {
        height: 100vh;
        background-color: #1B1B1B;
        footer {
            padding-bottom: 200px;
            .footer_links {
                flex-direction: column;
                gap: 30px;
                padding-top: 120px;
                padding-bottom: 30px;
                
                .footer_link_wrapper {
                    gap: 30px;
                }

                .footer_link {
                    gap: 0;

                    .link_title {
                        margin-bottom: 6px;
                    }

                    a {
                        font-weight: 100;
                        font-size: 13px;
                    }
                }

                .last_link {
                    align-items: flex-start;
                    .last_link_1{
                        display: block;
                        margin-bottom: 5px;
                        font-weight: 100;
                    }
                }
                .last_link_2,
                .last_link_3{
                    letter-spacing: 1px;
                    font-weight: 100;
                    font-size: 16px;
                }
            }

            .footer_text {
                padding: 10px 0;

                p {
                    font-weight: 100;
                    font-size: 10px;
                }
            }
        }
    }
}