* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("/fonts/Bahnschrift.ttf");
}
.full_page_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.full_page_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.full_page_bg .full_page_bg_after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: 0.4s ease all;
}

.full_page_bg.active .full_page_bg_after {
  background: rgba(0, 0, 0, 0.7);
}

#fullpage .section .item {
  height: 100%;
  position: relative;
}
#fullpage .section_2 {
  position: absolute;
  left: 0;
  top: 0;
}
#fullpage .section_2 .cards .cards_bg {
  opacity: 0;
}
@keyframes cardBgActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#fullpage .section_2 .cards .cards_bg.active {
  opacity: 1;
  animation: cardBgActive 1.4s linear 1;
}
@keyframes cardBgNoActive {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#fullpage .section_2 .cards .cards_bg.noActive {
  opacity: 0;
  animation: cardBgNoActive 0.8s linear 1;
}
#fullpage .section_2 .cards .main_container {
  height: 100vh;
  position: relative;
}
#fullpage .section_2 .cards .card_slider {
  overflow: visible;
  position: relative;
  top: 99vh;
}
#fullpage .section_2 .cards .card_slider .swiper-slide .main_card {
  transform: translateY(0);
}
@keyframes mainCardActive {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-45vh - 258.5px));
  }
}
#fullpage .section_2 .cards .card_slider .swiper-slide .main_card.active {
  transform: translateY(calc(-45vh - 258.5px));
  animation: mainCardActive 0.4s linear 1;
}
@keyframes mainCardNoActive {
  0% {
    transform: translateY(calc(-45vh - 258.5px));
  }
  100% {
    transform: translateY(0);
  }
}
#fullpage .section_2 .cards .card_slider .swiper-slide .main_card.noActive {
  transform: translateY(0);
  animation: mainCardNoActive 0.4s linear 1;
}
#fullpage .section_2 .cards .left_btn {
  transform: translateX(100%);
  opacity: 0;
}
@keyframes leftBtnActive {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
#fullpage .section_2 .cards .left_btn.active {
  transform: translate(0);
  opacity: 1;
  animation: leftBtnActive 0.4s linear 1;
}
@keyframes leftBtnNoActive {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
#fullpage .section_2 .cards .left_btn.noActive {
  transform: translate(100%);
  opacity: 0;
  animation: leftBtnNoActive 0.4s linear 1;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #888 !important;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: #FB4D00 !important;
}

.main_container {
  max-width: 1360px;
  padding: 0 10px;
  margin: 0 auto;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 30px 0 20px 0;
  background-color: rgba(33, 32, 32, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#header .header_wrapper {
  display: flex;
  align-items: center;
}
#header .header_wrapper .logo {
  flex: 1;
}
#header .header_wrapper .logo a img {
  width: 210px;
}
#header .header_wrapper .header_menu {
  flex: 3;
}
#header .header_wrapper .header_menu .menu_top {
  display: flex;
}
#header .header_wrapper .header_menu .menu_top .input_block {
  margin-right: 57px;
  flex-basis: 470px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}
#header .header_wrapper .header_menu .menu_top .input_block label {
  cursor: pointer;
}
#header .header_wrapper .header_menu .menu_top .input_block input {
  width: 100%;
  background-color: transparent;
  font-family: "Bahnschrift", sans-serif;
  font-weight: light;
  font-size: 18px;
  color: #fff;
  border: none;
}
#header .header_wrapper .header_menu .menu_top .input_block input:focus {
  outline: none;
}
#header .header_wrapper .header_menu .menu_top a {
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-family: "Calibri", sans-serif;
  font-weight: light;
  font-size: 16px;
  color: #fff;
}
#header .header_wrapper .header_menu .menu_top a img {
  margin-right: 10px;
}
#header .header_wrapper .header_menu .menu_bottom {
  margin-top: 33px;
}
#header .header_wrapper .header_menu .menu_bottom ul {
  display: flex;
  align-items: center;
  gap: 44px;
}
#header .header_wrapper .header_menu .menu_bottom ul li a {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 300;
  font-size: 13.4px;
  color: #fff;
}
#header .header_wrapper .header_menu .menu_bottom ul li a img {
  margin-left: 8px;
}
#header .header_wrapper .header_end .sign {
  display: flex;
  align-items: center;
}
#header .header_wrapper .header_end .sign a {
  font-family: "Calibri", sans-serif;
  font-weight: light;
  font-size: 14px;
  color: #fff;
}
#header .header_wrapper .header_end .sign span {
  font-family: "Calibri", sans-serif;
  font-weight: light;
  font-size: 13.3px;
  color: #fff;
}
#header .header_wrapper .header_end .statistic {
  margin-top: 33px;
  display: flex;
  gap: 15px;
}
#header .header_wrapper .header_end .statistic a {
  display: flex;
  align-items: center;
  font-family: "Calibri", sans-serif;
  font-weight: light;
  font-size: 16px;
  color: #fff;
}
#header .header_wrapper .header_end .statistic a img {
  margin-right: 7px;
}
#header .header_wrapper .header_end .bars {
  display: none;
}

.mobile_menues {
  display: none;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
}
.home h2 {
  max-width: 784px;
  font-family: "Calibri", sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: #fff;
  transform: translateX(-20%);
  opacity: 0;
}
@keyframes h2Active {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.home h2.active {
  opacity: 1;
  transform: translateX(0);
  animation: h2Active 0.8s linear 1;
}
@keyframes h2NoActive {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20%);
  }
}
.home h2.noActive {
  opacity: 0;
  transform: translateX(-20%);
  animation: h2NoActive 0.8s linear 1;
}

.cards {
  display: flex;
  align-items: center;
}
.cards .cards_bg {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  height: 45%;
}
.cards .card_slider .main_card {
  position: relative;
  z-index: 10;
  bottom: 0;
  height: 517px;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  padding: 0;
  box-shadow: 1px 4px 12px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 4px 12px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 12px 2px rgba(0, 0, 0, 0.75);
}
.cards .card_slider .main_card .card_top {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;
  padding: 15px 12px;
  background-color: #fc4d00;
}
.cards .card_slider .main_card .card_top span {
  font-family: "Calibri", sans-serif;
  font-weight: light;
  font-size: 18px;
  color: #fff;
}
.cards .card_slider .main_card img {
  transition: 0.3s linear;
  width: 100%;
  height: 100%;
}
.cards .card_slider .main_card .card_btn {
  opacity: 0;
  transition: 0.3s linear;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  white-space: nowrap;
  font-family: "Bahnschrift", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 15px 40px;
  border: none;
  background-color: #FB4D00;
}
.cards .card_slider .main_card:hover img {
  transform: scale(1.1);
}
.cards .card_slider .main_card:hover .card_btn {
  opacity: 1;
}
.cards .left_btn {
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  right: 100px;
  top: 50%;
  display: block;
}
.cards .left_btn img {
  height: 100px;
}

.about {
  height: 100vh;
}
.about .main_container {
  display: flex;
  align-items: center;
  height: 100vh;
}
.about .main_container {
  align-items: flex-end;
}
.about .about_wrapper {
  position: relative;
  width: 100%;
}
.about .about_wrapper .about_top {
  padding-top: 136px;
  padding-bottom: 130px;
  display: flex;
  justify-content: space-between;
}
.about .about_wrapper .about_top .about_top_left h3 {
  padding-bottom: 16px;
  max-width: 325px;
  font-size: 48px;
  font-weight: bold;
  font-family: "Bahnschrift", sans-serif;
  color: #fff;
  margin-bottom: 53px;
  border-bottom: 4px solid #fc4d00;
}
.about .about_wrapper .about_top .about_top_left p {
  max-width: 790px;
  font-size: 17px;
  font-weight: light;
  font-family: "Bahnschrift", sans-serif;
  color: #fff;
  margin-bottom: 30px;
}
.about .about_wrapper .about_top .about_top_right img {
  width: 100%;
}
.about .about_wrapper .about_bottom {
  text-align: center;
}
.about .about_wrapper .about_bottom h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Bahnschrift", sans-serif;
  color: #fff;
  max-width: 1200px;
  margin: 84px auto 120px;
}
.about .about_wrapper .about_bottom .about_blocks {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.about .about_wrapper .about_bottom .about_blocks .about_block {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about_wrapper .about_bottom .about_blocks .about_block span {
  font-size: 60px;
  font-weight: bold;
  font-family: "Bahnschrift", sans-serif;
  color: #fc4d00;
}
.about .about_wrapper .about_bottom .about_blocks .about_block h4 {
  max-width: 280px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Bahnschrift", sans-serif;
  color: #fff;
}
.about .about_wrapper .about_down {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: -50px;
  position: absolute;
  left: calc(50% - 26.5px);
  bottom: 0px;
  height: auto;
}
.about .about_wrapper .about_down a img {
  transform: rotate(270deg);
  width: 53px;
}
.about .about_wrapper .about_down .down_two {
  transform: translateY(-30px);
}
.about .about_wrapper_2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partners {
  overflow: hidden;
  background-image: url("../images/logos_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.partners h2 {
  padding-top: 357px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-family: "Bahnschrift", sans-serif;
  color: #fff;
  margin-bottom: 30px;
}
.partners p {
  text-align: center;
  font-family: "Bahnschrift", sans-serif;
  font-weight: light;
  font-size: 18px;
  color: #fff;
  margin-bottom: 78px;
}
.partners .partners_wrapper {
  padding-bottom: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partners .partners_wrapper .right_btn {
  transform: rotate(180deg);
}
.partners .partners_wrapper .partners_slider {
  width: 90%;
}
.partners .partners_wrapper .logos {
  width: 100%;
}
.partners .partners_wrapper .right_btn,
.partners .partners_wrapper .left_btn {
  margin: 10px;
  cursor: pointer;
}

.features {
  background: white;
}
.features .main_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.features h2 {
  text-align: center;
  margin-bottom: 29px;
  font-size: 37px;
  font-weight: light;
  font-family: "Bahnschrift", sans-serif;
  color: #000;
}
.features .features_text {
  max-width: 1200px;
  margin: 0 auto 82px auto;
  text-align: center;
  font-size: 16px;
  font-weight: light;
  font-family: "Bahnschrift", sans-serif;
  color: #6a6a6a;
}
.features .features_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.features .features_block .features_card {
  display: flex;
  align-items: start;
  margin: 0 10px 90px 10px;
}
.features .features_block .features_card .card_img {
  margin-right: 10px;
  transform: translateY(-10px);
  width: 55px;
  height: 55px;
}
.features .features_block .features_card .card_img img {
  width: 100%;
}
.features .features_block .features_card h3 {
  margin-bottom: 13px;
  font-size: 21px;
  font-weight: light;
  font-family: "Bahnschrift", sans-serif;
  color: #000;
}
.features .features_block .features_card p {
  max-width: 321px;
  font-size: 16px;
  font-weight: light;
  font-family: "Bahnschrift", sans-serif;
  color: #6a6a6a;
}

.products {
  background-image: url("../images/block_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
.products .products_in {
  background-color: rgba(19, 14, 14, 0.9);
}
.products .products_in .main_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products .products_in h2 {
  padding-top: 85px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 300;
  font-family: "Bahnschrift", sans-serif;
  color: #fff;
}
.products .products_in p {
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: light;
  font-family: "Bahnschrift", sans-serif;
  color: #fff;
}
.products .products_in button {
  cursor: pointer;
  font-family: "Bahnschrift", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 15px 40px;
  border: none;
  background-color: #FB4D00;
  margin-bottom: 54px;
}

.dealers {
  background-color: #F5F5F5;
}
.dealers .main_container {
  padding-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dealers .dealers_title {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  font-family: "Bahnschrift", sans-serif;
  color: #000;
  margin-bottom: 88px;
}
.dealers .dealers_wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.dealers .dealers_wrapper .dealers_left,
.dealers .dealers_wrapper .dealers_right {
  cursor: pointer;
}
.dealers .dealers_wrapper .dealers_card {
  width: 100%;
  border-radius: 10px;
  padding: 16px 14px;
  background-color: #fff;
}
.dealers .dealers_wrapper .dealers_card .card_img {
  height: 177px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: c;
  background-color: #F5F5F5;
}
.dealers .dealers_wrapper .dealers_card .card_img img {
  padding: 30px 18px;
  border-radius: 50px;
  width: 100%;
}
.dealers .dealers_wrapper .dealers_card h4 {
  margin-top: 23px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Bahnschrift", sans-serif;
  color: #000;
  margin-bottom: 25px;
}
.dealers .dealers_wrapper .dealers_card p {
  font-family: "Bahnschrift", sans-serif;
  font-weight: light;
  max-width: 327px;
  font-size: 16px;
  color: #000;
  margin-bottom: 16px;
}
.dealers .dealers_wrapper .dealers_card button {
  cursor: pointer;
  font-family: "Bahnschrift", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 15px 40px;
  border: none;
  background-color: #FB4D00;
  margin-top: 34px;
  margin-bottom: 21px;
}

.footer {
  display: flex;
  align-items: flex-end;
  background-color: #F5F5F5;
}

footer {
  background-color: #1B1B1B;
  width: 100%;
}
footer .footer_wrapper {
  padding-top: 73px;
  padding-bottom: 142px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .footer_wrapper .footer_menu {
  display: flex;
  gap: 27px;
  flex-direction: column;
}
footer .footer_wrapper .footer_menu li a {
  font-weight: 500;
  font-family: "Bahnschrift", sans-serif;
  font-size: 21.34px;
  color: white;
  text-transform: uppercase;
}
footer .footer_wrapper .footer_links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer .footer_wrapper .footer_links li {
  max-width: 260px;
}
footer .footer_wrapper .footer_links li h2 {
  font-family: "Bahnschrift", sans-serif;
  color: white;
  font-size: 21.34px;
  font-weight: 500;
  margin-bottom: 13px;
}
footer .footer_wrapper .footer_links li a {
  font-family: "Bahnschrift", sans-serif;
  color: #9f9f9f;
  font-size: 17.34px;
}
footer .footer_bottom {
  padding-bottom: 22px;
  border-bottom: 1px solid #2D2D2D;
  display: flex;
  align-items: center;
  justify-content: end;
}
footer .footer_bottom .payments {
  display: flex;
  align-items: center;
}
footer .footer_bottom .payments a:nth-child(2) {
  margin-left: 15px;
}
footer .footer_text {
  padding: 37px 0;
}
footer .footer_text p {
  font-family: "Bahnschrift", sans-serif;
  color: #646363;
  font-size: 16px;
}

@media (max-width: 1400px) {
  #header .header_wrapper .header_menu {
    display: none;
  }
  #header .header_wrapper .header_end {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  #header .header_wrapper .header_end .statistic {
    margin-top: 0;
  }
  #header .header_wrapper .header_end .bars {
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
  }
  #header .header_wrapper .header_end .bars svg {
    width: auto;
    height: 30px;
  }
  #header .header_wrapper .header_end .bars svg path {
    fill: #fc4d00;
  }
  .mobile_menues {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .mobile_menues .mobile_menu_close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
  }
  .mobile_menues .mobile_menu_close span {
    transform: scale(4);
    color: white;
    font-family: cursive, sans-serif;
  }
  .mobile_menues ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .mobile_menues ul .input_block {
    flex-basis: 470px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
  }
  .mobile_menues ul .input_block label {
    cursor: pointer;
  }
  .mobile_menues ul .input_block input {
    width: 100%;
    background-color: transparent;
    font-family: "Bahnschrift", sans-serif;
    font-weight: light;
    font-size: 18px;
    color: #fff;
    border: none;
  }
  .mobile_menues ul .input_block input:focus {
    outline: none;
  }
  .mobile_menues ul a {
    display: flex;
    align-items: center;
    font-family: "Calibri", sans-serif;
    font-weight: light;
    font-size: 16px;
    color: #fff;
  }
  .mobile_menues ul .sign {
    display: flex;
    gap: 0;
  }
  .mobile_menues ul .sign a {
    margin: 0;
  }
  .mobile_menues ul .statistic {
    display: flex;
    gap: 10px;
  }
  @keyframes menuActive {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .mobile_menues.active {
    display: flex;
    animation: menuActive 0.2s linear 1;
  }
  @keyframes menuNoActive {
    0% {
      display: flex;
      opacity: 1;
    }
    100% {
      display: flex;
      opacity: 0;
    }
  }
  .mobile_menues.noActive {
    display: none;
    animation: menuNoActive 0.1s linear 1;
  }
}
@media (max-width: 1350px) {
  .cards .main_container {
    width: 100vw;
  }
  .cards .cards_bg {
    display: none;
  }
  .cards .left_btn {
    bottom: 30px;
    top: auto;
    right: 10px;
  }
  .cards .left_btn a img {
    height: 80px;
  }
  .about .about_wrapper .about_top .about_top_left {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .about .about_wrapper .about_top .about_top_right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .about .about_wrapper_2 .about_bottom .about_logo img {
    height: 70px;
  }
  .about .about_wrapper_2 .about_bottom h3 {
    font-size: 35px;
    margin: 20px auto 60px;
  }
  .about .about_wrapper_2 .about_bottom .about_blocks .about_block span {
    font-size: 45px;
  }
  .about .about_wrapper_2 .about_down {
    left: calc(50% - 20px);
  }
  .about .about_wrapper_2 .about_down a img {
    width: 40px;
  }
  .dealers .dealers_wrapper {
    padding-right: 30px;
  }
}
@media (max-width: 992px) {
  .dealers .main_container {
    padding-top: 0;
  }
  .dealers .dealers_title {
    margin-bottom: 20px;
  }
  .footer footer .footer_wrapper {
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer footer .footer_wrapper .logo,
  .footer footer .footer_wrapper .footer_links,
  .footer footer .footer_wrapper .footer_menu {
    width: calc(50% - 20px);
  }
  .footer footer .footer_wrapper .logo img {
    height: 25px;
  }
  .footer footer .footer_wrapper .footer_menu {
    gap: 10px;
  }
  .footer footer .footer_wrapper .footer_menu a {
    font-size: 16px;
  }
  .footer footer .footer_wrapper .footer_links {
    gap: 5px;
  }
  .footer footer .footer_wrapper .footer_links a {
    font-size: 14px;
  }
  .footer footer .footer_wrapper .footer_links h2 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .footer footer .footer_bottom {
    padding-bottom: 10px;
  }
  .footer footer .footer_bottom .payments .first_link img {
    height: 21px;
  }
  .footer footer .footer_bottom .payments .last_link img {
    height: 50px;
  }
  .footer footer .footer_text {
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  .features h2 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .features .features_text {
    margin: 0 auto 20px auto;
    font-size: 14px;
  }
  .features .features_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .features .features_block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .features .features_block .features_card {
    display: flex;
    align-items: start;
    margin: 0;
    width: 50%;
  }
  .features .features_block .features_card .card_img {
    margin-right: 0;
  }
  .features .features_block .features_card .card_img img {
    width: 40px;
  }
  .features .features_block .features_card h3 {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .features .features_block .features_card p {
    font-size: 14px;
  }
  .products .products_in h2, .products .products_in p {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  #header {
    padding: 15px 0;
  }
  #header .header_wrapper .logo a img {
    height: 20px;
    width: auto;
  }
  #header .header_wrapper .header_end .bars svg {
    height: 24px;
  }
  #header .header_wrapper .header_end .statistic, #header .header_wrapper .header_end .sign {
    display: none;
  }
  #fp-nav.fp-right {
    right: 0px !important;
  }
  .home h2 {
    font-size: 34px;
  }
  .cards .left_btn a img {
    height: 50px;
  }
  .about .about_wrapper .about_top {
    padding: 0;
    height: 100vh;
    align-items: center;
  }
  .about .about_wrapper .about_top .about_top_right {
    display: none;
  }
  .about .about_wrapper_2 .about_bottom .about_logo img {
    height: 40px;
  }
  .about .about_wrapper_2 .about_bottom h3 {
    font-size: 25px;
    margin: 10px auto 30px;
  }
  .about .about_wrapper_2 .about_bottom .about_blocks {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .about .about_wrapper_2 .about_bottom .about_blocks .about_block {
    width: 100%;
  }
  .about .about_wrapper_2 .about_bottom .about_blocks .about_block span {
    font-size: 30px;
  }
  .about .about_wrapper_2 .about_bottom .about_blocks .about_block h4 {
    font-style: 14px;
  }
  .about .about_wrapper_2 .about_down {
    left: calc(50% - 12.5px);
  }
  .about .about_wrapper_2 .about_down a img {
    width: 25px;
  }
}/*# sourceMappingURL=style.css.map */