*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: "Bahnschrift";
    src: url("/fonts/Bahnschrift.ttf")
  }
$Bahnschrift: 'Bahnschrift',sans-serif;
$Calibri: 'Calibri',sans-serif;
.main_container{
    max-width: 1360px;
    padding: 0 10px;
    margin: 0 auto;
}



@import 'header';
@import 'partners';
@import 'features';
@import 'product';
@import 'dealers';
@import 'footer';
@import 'responsive';