*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: "Bahnschrift";
    src: url("/fonts/Bahnschrift.ttf")
  }
$Bahnschrift: 'Bahnschrift',sans-serif;
$Calibri: 'Calibri',sans-serif;
.main_container{
    max-width: 1360px;
    padding: 0 10px;
    margin: 0 auto;
}
#main_block{
    position: relative;
    .main_white{
        display: flex;
        justify-content: end;
        position: absolute;
        bottom: -150px;
        height: 317px;
        background-image: url('../images/elleps_top_white.png');
        width: 100%;    
        background-repeat: no-repeat;
        .main_card_in{
            position: relative;
            z-index: 2;
            transform: translateY(-350px)
        }
        .left_btn{
            white-space: nowrap;
            position: absolute;
            z-index: 1;
            right: 10px;
            bottom: 210px;
            img{
                width: 30px;
                height: 100px;
            }
        }
    }
}

@import 'header';
@import 'main';
@import 'about';
@import 'cards';
@import 'partners';
@import 'features';
@import 'product';
@import 'dealers';
@import 'footer';
@import 'responsive';